<div class="card">
    <div class="selection-title">
        <h1>Projects</h1>
        <p class="description">Create and manage projects by creating tasks and connections</p>
    </div>
    <div class="selection-container">
        <div class="selection-card">
            <h3>Project Overview</h3>
            <p class="description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
            <b class="learn-more">Learn more</b>
        </div>
        <div class="selection-card">
            <h3>Create Task</h3>
            <p class="description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
            <b class="learn-more">Learn more</b>
        </div>
    </div>
    <div class="selection-container">
        <div class="selection-card">
            <h3>Create a Connection</h3>
            <p class="description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
            <b class="learn-more">Learn more</b>
        </div>
        <div class="selection-card">
            <h3>Project History</h3>
            <p class="description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
            <b class="learn-more">Learn more</b>
        </div>
    </div>
</div>