<div class="d-flex flex-column w-100 h-100 p-3">
    <form class="d-flex flex-column justify-content-between overflow-hidden w-100 h-100 position-relative" (ngSubmit)="onSubmit($event.submitter.id)">
        
        <div class="d-none d-lg-flex position-absolute top-0 end-0 mt-4 me-4">
            <div *ngFor="let key of jobCreationStepKeys, index as stepNum" class="d-flex align-items-center ms-2 me-3">
                <div *ngIf="jobCreationStep.get(key)==='inProgress'" class="progress-count me-1">{{stepNum + 1}}</div>
                <strong class="me-4" style="text-transform: capitalize">{{key}}</strong>
                <div *ngIf="stepNum < jobCreationStep.size - 1" class="d-flex align-items-center">
                    <div *ngFor="let i of progressDotsNum" class="progress-dots"></div>
                </div>
            </div>
        </div>

        <div class="position-relative d-grid flex-grow-1 input-form align-self-center">
            <app-job-connection class="job-step" [parentForm]="jobCreationForm" [@slideJobSteps]="jobCreationStep.get('connections')"></app-job-connection>
            <app-job-source class="job-step" [parentForm]="jobCreationForm" [@slideJobSteps]="jobCreationStep.get('source')"></app-job-source>    
            <app-job-destination class="job-step" [parentForm]="jobCreationForm" [@slideJobSteps]="jobCreationStep.get('destination')"></app-job-destination>
            <app-job-schedule class="job-step" [parentForm]="jobCreationForm" [@slideJobSteps]="jobCreationStep.get('schedule')"></app-job-schedule>
        </div>
        
        
        <div class="mt-4 d-flex flex-column">
            <div class="d-flex job-progress align-self-center mb-3 d-lg-none">
                <div *ngFor="let key of jobCreationStepKeys" class="progress-step" [@progressSteps]="jobCreationStep.get(key)"></div>
            </div>
            <div class="d-flex justify-content-end w-100 align-self-center button-group">
                <button mat-raised-button class="me-3" color="primary" type="submit" id="back-button" *ngIf="this.jobCreationStep.get('connections')!='inProgress'">
                    <span>Back</span>
                </button>
                <button mat-raised-button color="primary" type="submit" id="next-button" [disabled]="!isValid()">
                    <span *ngIf="this.jobCreationStep.get('schedule')=='inProgress'">Submit</span>
                    <span *ngIf="this.jobCreationStep.get('schedule')!='inProgress'">Next</span>
                </button>
            </div>
        </div>
    </form>
</div>