<!-- <div class="job-creation-container centered roundedCorners--small">
    <div id="title">
        <h1>Task Creation</h1>
        <p>Lorem ipsum dolor sit amet</p>
    </div>

    <form class="job-creation-form" [formGroup]="jobCreationForm" (ngSubmit)="onSubmit($event.submitter.id)">
        <app-job-connection class="job-step" [parentForm]="jobCreationForm" [@slideJobSteps]="jobCreationStep['connections']"></app-job-connection>
        <app-job-source class="job-step" [parentForm]="jobCreationForm" [@slideJobSteps]="jobCreationStep['source']"></app-job-source>
        <app-job-destination class="job-step" [parentForm]="jobCreationForm" [@slideJobSteps]="jobCreationStep['destination']"></app-job-destination>
        <app-job-schedule class="job-step" [parentForm]="jobCreationForm" [@slideJobSteps]="jobCreationStep['schedule']"></app-job-schedule>
    </form>
</div>

<app-job-progress></app-job-progress> -->

<app-form-card class="d-flex flex-column w-100 h-100 p-3">
    <form class="d-flex flex-column justify-content-between w-100 h-100" (ngSubmit)="onSubmit($event.submitter.id)">
        
        <div class="position-relative d-grid flex-grow-1 input-form align-self-center">
            <app-job-connection class="job-step" [parentForm]="jobCreationForm" [@slideJobSteps]="jobCreationStep['connections']"></app-job-connection>
            <app-job-source class="job-step" [parentForm]="jobCreationForm" [@slideJobSteps]="jobCreationStep['source']"></app-job-source>    
            <app-job-destination class="job-step" [parentForm]="jobCreationForm" [@slideJobSteps]="jobCreationStep['destination']"></app-job-destination>
            <app-job-schedule class="job-step" [parentForm]="jobCreationForm" [@slideJobSteps]="jobCreationStep['schedule']"></app-job-schedule>
        </div>
        
        
        <div class="mt-4">
            <app-job-progress></app-job-progress>
            <button mat-raised-button color="primary" type="submit" id="back-button" [disabled]="this.jobCreationStep['connections']=='inProgress'">
                <span class="">Previous</span>
            </button>
            <button mat-raised-button color="primary" type="submit" id="next-button" [disabled]="!isValid()">
                <span class="">Next</span>
            </button>
        </div>
    </form>
</app-form-card>