<nav class="project-navbar position-absolute d-flex flex-row flex-lg-column">
    <div class="sidenav-item mx-auto" id="projects-popover" data-bs-toggle="offcanvas" data-bs-target="#sidenav-projects">
        <img class="m-auto d-block h" src="assets/images/sidenav/Sidenav-Projects.png" alt="Projects" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="Projects" data-bs-container="#projects-popover">
    </div>
    <div class="sidenav-item mx-auto" id="analytics-popover" data-bs-toggle="offcanvas" data-bs-target="#sidenav-analytics">
        <img class="m-auto d-block" src="assets/images/sidenav/Sidenav-Analytics.png" alt="Analytics" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="Analytics" data-bs-container="#analytics-popover">
    </div>
    <div class="sidenav-item mx-auto" id="history-popover" data-bs-toggle="offcanvas" data-bs-target="#sidenav-history">
        <img class="m-auto d-block" src="assets/images/sidenav/Sidenav-History.png" alt="History" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="History" data-bs-container="#history-popover">
    </div>
    <div class="sidenav-item mx-auto" id="team-popover" data-bs-toggle="offcanvas" data-bs-target="#sidenav-team">
        <img class="m-auto d-block" src="assets/images/sidenav/Sidenav-Team.png" alt="Team" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="Team" data-bs-container="#team-popover">
    </div>
    <div class="sidenav-item mx-auto" id="help-popover" data-bs-toggle="offcanvas" data-bs-target="#sidenav-settings">
        <img class="m-auto d-block" src="assets/images/sidenav/Sidenav-Help.png" alt="Help" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="Help" data-bs-container="#help-popover">
    </div>
    <div class="sidenav-item mx-auto" id="settings-popover" data-bs-toggle="offcanvas" data-bs-target="#sidenav-help">
        <img class="m-auto d-block" src="assets/images/sidenav/Sidenav-Settings.png" alt="Settings" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="Settings" data-bs-container="#settings-popover">
    </div>
    <div class="sidenav-item mx-auto" id="notifications-popover" data-bs-toggle="offcanvas" data-bs-target="#sidenav-notifications">
        <img class="m-auto d-block" src="assets/images/sidenav/Sidenav-Notifications.png" alt="Notifications" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="Notifications" data-bs-container="#notifications-popover">
    </div>
</nav>


<div>
    <div class="offcanvas" data-bs-backdrop="false" id="sidenav-projects">
        <div class="offcanvas-header">
            <h1 class="offcanvas-title">Projects</h1>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <p>Some text lorem ipsum.</p>
            <p>Some text lorem ipsum.</p>
            <button class="btn btn-secondary" type="button">A Button</button>
        </div>
    </div>
    <div class="offcanvas" data-bs-backdrop="false" id="sidenav-analytics">
        <div class="offcanvas-header">
            <h1 class="offcanvas-title">Analytics</h1>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <p>Some text lorem ipsum.</p>
            <p>Some text lorem ipsum.</p>
            <button class="btn btn-secondary" type="button">A Button</button>
        </div>
    </div>
    <div class="offcanvas" data-bs-backdrop="false" id="sidenav-history">
        <div class="offcanvas-header">
            <h1 class="offcanvas-title">History</h1>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <p>Some text lorem ipsum.</p>
            <p>Some text lorem ipsum.</p>
            <button class="btn btn-secondary" type="button">A Button</button>
        </div>
    </div>
    <div class="offcanvas" data-bs-backdrop="false" id="sidenav-team">
        <div class="offcanvas-header">
            <h1 class="offcanvas-title">Team</h1>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <p>Some text lorem ipsum.</p>
            <p>Some text lorem ipsum.</p>
            <button class="btn btn-secondary" type="button">A Button</button>
        </div>
    </div>
    <div class="offcanvas" data-bs-backdrop="false" id="sidenav-help">
        <div class="offcanvas-header">
            <h1 class="offcanvas-title">Help</h1>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <p>Some text lorem ipsum.</p>
            <p>Some text lorem ipsum.</p>
            <button class="btn btn-secondary" type="button">A Button</button>
        </div>
    </div>
    <div class="offcanvas" data-bs-backdrop="false" id="sidenav-settings">
        <div class="offcanvas-header">
            <h1 class="offcanvas-title">Settings</h1>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <p>Some text lorem ipsum.</p>
            <p>Some text lorem ipsum.</p>
            <button class="btn btn-secondary" type="button">A Button</button>
        </div>
    </div>
    <div class="offcanvas" data-bs-backdrop="false" id="sidenav-notifications">
        <div class="offcanvas-header">
            <h1 class="offcanvas-title">Notifications</h1>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <p>Some text lorem ipsum.</p>
            <p>Some text lorem ipsum.</p>
            <button class="btn btn-secondary" type="button">A Button</button>
        </div>
    </div>
</div>