<div [formGroup]="parentForm" class="h-100">
    <h1 class="">Source</h1>
    <form class="d-flex flex-column h-100 justify-content-center" formGroupName="source" *ngIf="sourceType=='file'">
        <mat-form-field appearance="fill" class="my-2">
            <mat-label>Folder Path</mat-label>
            <input matInput formControlName="folderPath">
        </mat-form-field>
        <mat-form-field appearance="fill" class="my-2">
            <mat-label>File Name</mat-label>
            <input matInput formControlName="fileName">
        </mat-form-field>
        <mat-form-field appearance="fill" class="my-2">
            <mat-label>File Type</mat-label>
            <input matInput formControlName="fileType">
        </mat-form-field>
        <mat-form-field appearance="fill" class="my-2">
            <mat-label>Delimiter</mat-label>
            <input matInput formControlName="delimiter">
        </mat-form-field>
        <mat-checkbox>File has headers</mat-checkbox>
    </form>

    <form class="d-flex flex-column justify-content-center h-100" formGroupName="source" *ngIf="sourceType=='sql'">
        <mat-form-field appearance="fill" class="my-3">
            <mat-label>SQL Table Name</mat-label>
            <input matInput formControlName="sqlTableName">
        </mat-form-field>
        <mat-form-field appearance="fill" class="my-3">
            <mat-label>SQL Table Action</mat-label>
            <input matInput formControlName="sqlTableAction">
        </mat-form-field>
    </form>
</div>