li > a {
    cursor: pointer;
}

.nav-item {
    max-height: 43px;
}

.nav-link {
    font-weight: 500;
    font-size: 18px;
}

.name {
    font-weight: 500;
}

.status {
    line-height: 10px;
    font-size: 14px;
    color: #48A845;
}

.navbar {
    z-index: 1100;
}