<!-- <mat-toolbar class="navbar">
    <p id="logo">File Transform</p>
    <div class="navbar-options" *ngIf="!mobile">
        <p id="home">Home</p>
        <p id="projects" (click)="toggleDropdown($event.target)">Projects</p>
        <p id="settings" (click)="toggleDropdown($event.target)">Settings</p>
        <p id="help" (click)="toggleDropdown($event.target)">Help</p>
        <div class="user-options">
            <p *ngIf="loggedIn">Avatar</p>
            <p *ngIf="!loggedIn">Register</p>
            <p *ngIf="!loggedIn">Log in</p>
        </div>
        <span></span>
    </div>
    <div class="navbar-mobile" *ngIf="mobile">

    </div>
</mat-toolbar>
<app-projects-card *ngIf="showCard['projects']">PROJECTS</app-projects-card>
<app-settings-card *ngIf="showCard['settings']">SETTINGS</app-settings-card>
<app-help-card *ngIf="showCard['help']">HELP</app-help-card> -->
<nav class="navbar navbar-expand-md navbar-light bg-white py-4 shadow">
    <div class="container-fluid">
        <a class="navbar-brand ms-3" href="#">File Transformer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item mx-2">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="#">Projects</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="#">Settings</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="#">Help</a>
                </li>
                <li *ngIf="!loggedIn" class="nav-item mx-2">
                    <a class="nav-link" href="#">Register</a>
                </li>
                <li *ngIf="!loggedIn" class="nav-item mx-2">
                    <a class="nav-link" href="#">Log in</a>
                </li>
                <li *ngIf="loggedIn" class="nav-item mx-2">
                    <a class="nav-link" href="#">User</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>