<nav class="navbar navbar-expand-lg navbar-light bg-white py-4 shadow position-absolute container-fluid">
    <div class="container-fluid">
        <a class="navbar-brand ms-3" href="#">File Transformer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-3 ms-lg-auto mb-2 mb-lg-0 d-flex justify-content-around w-75">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link user-select-none" id="projects" (click)="toggleDropdown($event.target)">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link user-select-none" id="settings" (click)="toggleDropdown($event.target)">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link user-select-none" id="help" (click)="toggleDropdown($event.target)">Help</a>
                </li>
                <li *ngIf="!loggedIn" class="nav-item">
                    <a class="nav-link" href="signup">Register</a>
                </li>
                <li *ngIf="!loggedIn" class="nav-item">
                    <a class="nav-link" href="login">Log in</a>
                </li>
                <li *ngIf="loggedIn" class="nav-item">
                    <a class="nav-link container d-flex p-0 mt-2 m-lg-0" href="#">
                        <ngx-avatar class="avatar" name="Andrew Li" size="40"></ngx-avatar>
                        <div class="ms-2">
                            <p class="name m-0">Andrew Li</p>
                            <p class="status ms-1">Online</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="nav-filler"></div>
<div class="w-100 position-relative">
    <app-projects-card *ngIf="showCard['projects']" class="position-absolute">PROJECTS</app-projects-card>
    <app-settings-card *ngIf="showCard['settings']" class="position-absolute">SETTINGS</app-settings-card>
    <app-help-card *ngIf="showCard['help']" class="position-absolute">HELP</app-help-card>
</div>