<div [formGroup]="parentForm" class="h-100">
    <h1 class="">Schedule</h1>
    <form formGroupName="schedule" class="d-flex flex-column h-100 justify-content-center">
        <mat-form-field appearance="fill" class="my-3">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker" formGroupName="datePicker">
                <input matStartDate formControlName="start" placeholder="Start date">
                <input matEndDate formControlName="end" placeholder="End date">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <mat-form-field appearance="fill" class="my-3">
            <mat-label>Run Frequency</mat-label>
            <mat-select formControlName="frequency">
                <mat-option value="daily">Daily</mat-option>
                <mat-option value="weekly">Weekly</mat-option>
                <mat-option value="monthly">Monthly</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="my-3">
            <mat-label>Run Time</mat-label>
            <input matInput formControlName="time" [ngxTimepicker]="default">
            <ngx-material-timepicker #default></ngx-material-timepicker>
        </mat-form-field>
    </form>
</div>
