@media(min-width: 992px) {
    .submit-button {
        margin: auto;
        max-width: 400px;
    }

    .input-form {
        width: 700px;
    }

    .input-large {
        width: 400px;
    }

    .input-small {
        width: 240px;
        margin-left: 10px;
        margin-right: 10px;
    }

    h1 {
        margin-left: 120px;
        margin-top: 120px;
    }

    h1 + p {
        margin-left: 120px;
    }
}