div.auth-container {
    /* width: 68.75%; */
    width: 1320px;
    aspect-ratio: 1.7 / 1;
    background-color: white;
    box-shadow: 0px 1px 4px #00000029;
    opacity: 1;
}

.signup-form {
    position: relative;
    top: 200px;
}

#title {
    position: relative;
    left: 180px;
    top: 150px;
}