<div class="card w-75 mx-auto px-4 py-2">
    <div class="row row-cols-1 row-cols-lg-3">
        <div class="col">
            <div class="card-body">
                <h1 class="card-title">Settings</h1>
                <p class="card-text">Manage user and project settings</p>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="card-body">
                    <h3 class="card-title">Profile</h3>
                    <p class="card-text ms-1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                    <strong class="learn-more ms-2">Learn more</strong>
                </div>
                <div class="card-body">
                    <h3 class="card-title">Team Members</h3>
                    <p class="card-text ms-1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                    <strong class="learn-more ms-2">Learn more</strong>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="card-body">
                    <h3 class="card-title">Notifications</h3>
                    <p class="card-text ms-1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                    <strong class="learn-more ms-2">Learn more</strong>
                </div>
                <div class="card-body">
                    <h3 class="card-title">Connection Settings</h3>
                    <p class="card-text ms-1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                    <strong class="learn-more ms-2">Learn more</strong>
                </div>
            </div>
        </div>
    </div>
</div>