<div class="card">
    <div class="selection-title">
        <h1>Settings</h1>
        <p class="description">Manage settings</p>
    </div>
    <div class="selection-container">
        <div class="selection-card">
            <h3>Profile</h3>
            <p class="description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
            <b class="learn-more">Learn more</b>
        </div>
        <div class="selection-card">
            <h3>Team Members</h3>
            <p class="description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
            <b class="learn-more">Learn more</b>
        </div>
    </div>
    <div class="selection-container">
        <div class="selection-card">
            <h3>Notifications</h3>
            <p class="description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
            <b class="learn-more">Learn more</b>
        </div>
        <div class="selection-card">
            <h3>Connection Settings</h3>
            <p class="description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
            <b class="learn-more">Learn more</b>
        </div>
    </div>
</div>