<div class="card">
    <div class="selection-title">
        <h1>Help</h1>
        <p class="description">Information about File Transformer</p>
    </div>
    <div class="selection-container">
        <div class="selection-card">
            <h3>FAQ</h3>
            <p class="description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
            <b class="learn-more">Learn more</b>
        </div>
        <div class="selection-card">
            <h3>Help Articles</h3>
            <p class="description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
            <b class="learn-more">Learn more</b>
        </div>
    </div>
    <div class="selection-container">
        <div class="selection-card">
            <h3>Online Resources</h3>
            <p class="description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
            <b class="learn-more">Learn more</b>
        </div>
        <div class="selection-card">
            <h3>Connection Settings</h3>
            <p class="description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
            <b class="learn-more">Learn more</b>
        </div>
    </div>
</div>