<div class="card mx-auto px-4 py-2">
    <div class="row row-cols-1 row-cols-lg-3">
        <div class="col">
            <div class="card-body">
                <h1 class="card-title">Help</h1>
                <p class="card-text">Information about File Transformer</p>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="card-body">
                    <h3 class="card-title">FAQ</h3>
                    <p class="card-text ms-1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                    <strong class="learn-more ms-2">Learn more</strong>
                </div>
                <div class="card-body">
                    <h3 class="card-title">Help Articles</h3>
                    <p class="card-text ms-1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                    <strong class="learn-more ms-2">Learn more</strong>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="card-body">
                    <h3 class="card-title">Online Resources</h3>
                    <p class="card-text ms-1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                    <strong class="learn-more ms-2">Learn more</strong>
                </div>
                <div class="card-body">
                    <h3 class="card-title">Placeholder</h3>
                    <p class="card-text ms-1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                    <strong class="learn-more ms-2">Learn more</strong>
                </div>
            </div>
        </div>
    </div>
</div>