<div class="bg-white h-100">
    <div class="d-flex description flex-column flex-wrap justify-content-center align-items-center">
        <img src="assets/images/tagline.png" class="order-lg-0 mt-5">
        <div class="landing-image px-0 order-lg-3">
            <picture class="mx-auto">
                <source media="(max-width: 991px)" srcset="assets/images/mobile.png">
                <source media="(min-width: 992px)" srcset="assets/images/MicrosoftTeams-image.png">
                <img src="assets/images/MicrosoftTeams-image.png" alt="File Transformer Logo">
            </picture>
        </div>
        <div>
            <p class="order-lg-1">Created with the idea to innovate and revolutionize data integration.</p>
            <button type="button" class="btn btn-primary text-white order-lg-2 align-self-start">Get Started</button>
        </div>
    </div>
    
    
    <div class="container-fluid info-container mt-1">
        <div class="row row-cols-1 row-cols-lg-3 justify-content-evenly w-100 h-100 mx-auto">
            <div class="col info">
                <h5>Secure File Sharing</h5>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                <b>Learn more</b>
            </div>
            <div class="col info">
                <h5>Build, Connect, Transform</h5>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                <b>Learn more</b>
            </div>
            <div class="col info">
                <h5>Project Management Made Easy</h5>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                <b>Learn more</b>
            </div>
        </div>
    </div>
</div>