img {
    height: auto;
}

@media(min-width: 992px) {
    .description {
        height: 550px;
    }

    .description p, .description button {
        margin-left: 60px;
        max-width: 360px;
    }

    .landing-image img {
        max-width: 550px;
    }
}

@media(max-width: 992px) {
    .description {
        max-width: 450px;
        margin: auto;
        text-align: center;
    }
}


.info-container {
    height: 300px;
    width: 90%;
}

.info {
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 400px;
}

.info:hover {
    background-color: #329054;
    color: white;
}

.info p, .info b{
    font-size: 14px;
    margin-left: 8px;
}

.info b {
    color: #329054;
}

.info h5 {
    font-weight: 800;
}

