<div class="landing-page">
    <div>
        <div class="main-info">
            <img src="assets/images/tagline.png">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod. tempor invidunt ut labore et dolore magna aliquyam erat, sed diam</p>
            <button mat-raised-button color="primary">Get Started</button>
        </div>
        <img class="landing-image" src="assets/images/Landingpage-Image.png">
    </div>

    <div class="info-card-container">
        <div class="info-card">
            <h3>Secure File Sharing</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
            <b>Learn more</b>
        </div>
        <div class="info-card">
            <h3>Build, Connect, Transform</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
            <b>Learn more</b>
        </div>
        <div class="info-card">
            <h3>Project Management Made Easy</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
            <b>Learn more</b>
        </div>
    </div>
</div>