<app-form-card class="d-flex flex-column h-100 p-3">
    <h1 class="mb-auto">Sign Up</h1>

    <form class="d-flex flex-column my-4" (ngSubmit)="signupUser()" [formGroup]="signupForm">

        <div class="input-form d-flex flex-column flex-lg-row flex-wrap justify-content-lg-center align-self-lg-center">
            <mat-form-field appearance="fill" class="input-small mb-2">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName">
            </mat-form-field>
            <mat-form-field appearance="fill" class="input-small mb-2">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName">
            </mat-form-field>
            <mat-form-field appearance="fill" class="input-large mb-2">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="fill" class="input-large mb-2">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password">
            </mat-form-field>
        </div>
        
        <div class="form-check mx-auto">        
            <input class="form-check-input" formControlName="tos" type="checkbox" id="tos-checkbox">
            <label class="form-check-label" id="tos-checkbox" for="tos-checkbox">I Agree to the <a href="#" data-bs-toggle="modal" data-bs-target="#tos">Terms and Conditions</a></label>
        </div>

        <div class="modal fade" id="tos" tabindex="-1" aria-labelledby="tosLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="tosLabel">Terms and Conditions</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <button mat-raised-button type="submit" class="w-100 align-self-center submit-button" [disabled]="signupForm.invalid" color="primary">Register</button>
        <br>
        <a href="/login" class="align-self-lg-center">Already registered? Sign in</a>
    </form>
</app-form-card>