.job-creation-container {
    /* width: 68.75%; */
    width: 1320px;
    aspect-ratio: 1.7 / 1;
    background-color: white;
    box-shadow: 0px 1px 4px #00000029;
    opacity: 1;
}

.job-creation-form {
    
}

.job-connection-form {
    display: flex;
    flex-direction: column;
}




#title {
    position: relative;
    left: 180px;
    top: 100px;
}