@media(min-width: 992px) {
    .submit-button {
        margin: auto;
        max-width: 400px;
    }

    .input-form {
        width: 700px;
    }

    h1 {
        margin-top: 80px;
    }

    .input-large {
        width: 400px;
    }
}

.job-step {
    display: block;
    grid-column: 1;
    grid-row: 1;
}