<app-form-card class="d-flex flex-column w-100 h-100 p-3">
    <form class="d-flex flex-column justify-content-evenly align-items-center w-100 h-75">
        <div class="d-flex flex-column align-items-center">
            <p class="header mb-0">Create a new project</p>
            <p>How would you like to start?</p>
        </div>

        <div class="d-flex justify-content-center justify-content-lg-evenly w-100">
            <div class="d-flex flex-column align-items-center me-4">
                <div class="dotted-border creation-button" (click)="newProject()">
                    <p>test</p>
                </div>
                <h4 class="title mt-1 mb-0">Blank Project</h4>
                <p class="description my-0">Create from scratch</p>
            </div>
            
            <div class="d-flex flex-column align-items-center ms-4">
                <img class="solid-border creation-button" src="assets/images/history.png">
                <h5 class="title mt-1 mb-0">Past Project</h5>
                <p class="description my-0">Create from templates</p>
            </div>
        </div>
    </form>
</app-form-card>