<!-- <div class="auth-container centered roundedCorners--large">
    <div id="title">
        <h1>Forgot Password?</h1>
        <p id="reset-instructions">We will email you reset instructions</p>
    </div>
    <form novalidate class="auth-form reset-form" (ngSubmit)="resetPassword()" [formGroup]="resetForm"> 
        <div class="auth-input-container">
            <mat-form-field appearance="fill" class="auth-input">
                <mat-label>Username/Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
        </div>
        <br>
        <button mat-raised-button type="submit" id="submit-button" [disabled]="resetForm.invalid" color="primary">Reset Password</button>
        <br>
        <u><a href="/login">Back to log in</a></u>
    </form>
</div> -->

<app-form-card class="d-flex flex-column h-100 p-3">
    <h1 class="mb-auto">Reset Password</h1>

    <form novalidate class="input-form align-self-lg-center d-flex flex-column align-items-lg-center my-4 mt-lg-0" (ngSubmit)="resetPassword()" [formGroup]="resetForm"> 
        <mat-form-field appearance="fill" class="input-large mb-2">
            <mat-label>Username/Email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <br>
        <button mat-raised-button type="submit" class="w-100 align-self-center submit-button" [disabled]="resetForm.invalid" color="primary">Reset Password</button>
        <br>
        <u><a href="/login">Back to log in</a></u>
    </form>
</app-form-card>