<div class="auth-container centered roundedCorners--large">
    <div id="title">
        <h1>Forgot Password?</h1>
        <p id="reset-instructions">We will email you reset instructions</p>
    </div>
    <form novalidate class="auth-form reset-form" (ngSubmit)="resetPassword()" [formGroup]="resetForm"> 
        <div class="auth-input-container">
            <mat-form-field appearance="fill" class="auth-input">
                <mat-label>Username/Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
        </div>
        <br>
        <button mat-raised-button type="submit" id="submit-button" [disabled]="resetForm.invalid" color="primary">Reset Password</button>
        <br>
        <u><a href="/login">Back to log in</a></u>
    </form>
</div>