<app-form-card class="d-flex flex-column h-50 p-3">
    <h1 class="mb-3">Reset Password</h1>
    <p class="mb-auto">Enter the email associated with your account</p>
    <img class="mx-auto" style="width: 300px; height: auto" src="assets/images/ForgotPassword.svg" alt="Forgot Password">

    <form class="input-form align-self-lg-center d-flex flex-column align-items-lg-center my-4 mt-lg-0" (ngSubmit)="resetPassword()" [formGroup]="resetForm"> 
        <mat-form-field appearance="fill" class="input-large mb-2">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <br>
        <button mat-raised-button type="submit" class="w-100 align-self-center submit-button" [disabled]="resetForm.invalid" color="primary">Reset Password</button>
        <br>
        <u><a href="/login">Back to log in</a></u>
    </form>
</app-form-card>