<div [formGroup]="parentForm">
    <form class="job-form-step" formGroupName="destination" *ngIf="destinationType=='file'">
        <div class="job-form-step-column">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Folder Path</mat-label>
                <input matInput formControlName="folderPath">
            </mat-form-field>
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>File Name</mat-label>
                <input matInput formControlName="fileName">
            </mat-form-field>
        </div>
        <div class="job-form-step-column">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>File Type</mat-label>
                <input matInput formControlName="fileType">
            </mat-form-field>
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Delimiter</mat-label>
                <input matInput formControlName="delimiter">
            </mat-form-field>
        </div>
    </form>

    <form class="job-form-step" formGroupName="destination" *ngIf="destinationType=='sql'">
        <mat-form-field appearance="fill" class="small-width">
            <mat-label>SQL Table Name</mat-label>
            <input matInput formControlName="sqlTableName">
        </mat-form-field>
        <mat-form-field appearance="fill" class="small-width">
            <mat-label>SQL Table Action</mat-label>
            <input matInput formControlName="sqlTableAction">
        </mat-form-field>
    </form>
    <br>

    <div class="button-group">
        <button mat-raised-button type="submit" id="back-button" color="primary">Back</button>
        <button mat-raised-button type="submit" id="next-button" [disabled]="parentForm.get('destination').invalid" color="primary">Next</button>
    </div>
</div>