
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$file-transformer-web-primary: mat.define-palette(mat.$indigo-palette);
$file-transformer-web-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$file-transformer-web-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$file-transformer-web-theme: mat.define-light-theme((
  color: (
    primary: $file-transformer-web-primary,
    accent: $file-transformer-web-accent,
    warn: $file-transformer-web-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($file-transformer-web-theme);

$primary: #329054;

/* Importing Bootstrap SCSS file. */
@import "bootstrap";
@import 'custom-theme.scss';

app-footer {
    margin-top: auto;
	z-index: 1100;
}

router-outlet + * {
    flex: 1;
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

//Overwrite angular material's timepicker colors
.timepicker {

	.timepicker__header {
		background-color: #329054 !important;
	}

	.clock-face__clock-hand {
		background-color: #329054 !important;

		&::after {
			background-color: #329054 !important;
		}

		&::before {
			border-color: #329054 !important;
		}
	}

	.clock-face__number {
		> span.active {
			background-color: #329054 !important;
		}
	}

	button:not(.timepicker-dial__item) {
		color: #329054 !important;
	}
}


//Fix for timepicker appearing behind dialog
.timepicker-overlay, .timepicker-backdrop-overlay {
  	z-index: 1000 !important;
}

//Popover css color and positioning for projects sidenav
.sidenav-item > .popover {
    background-color: #36AC60;
	margin-left: 18px !important;
}

.sidenav-item > .popover > .popover-arrow {
	display: none;
}

//For Job Creation Popup
.mat-dialog-container {
    overflow-x: hidden !important;
}
