$primary: #329054;

/* Importing Bootstrap SCSS file. */
@import "bootstrap";
@import 'custom-theme.scss';

app-footer {
    margin-top: auto;
}

router-outlet + * {
    flex: 1;
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}