$primary: #329054;

/* Importing Bootstrap SCSS file. */
@import "bootstrap";
@import 'custom-theme.scss';

app-footer {
    margin-top: auto;
	z-index: 1100;
}

router-outlet + * {
    flex: 1;
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

//Overwrite angular material's timepicker colors
.timepicker {

	.timepicker__header {
		background-color: #329054 !important;
	}

	.clock-face__clock-hand {
		background-color: #329054 !important;

		&::after {
			background-color: #329054 !important;
		}

		&::before {
			border-color: #329054 !important;
		}
	}

	.clock-face__number {
		> span.active {
			background-color: #329054 !important;
		}
	}

	button:not(.timepicker-dial__item) {
		color: #329054 !important;
	}
}


//Fix for timepicker appearing behind dialog
.timepicker-overlay, .timepicker-backdrop-overlay {
  	z-index: 1000 !important;
}

//Popover css color and positioning for projects sidenav
.sidenav-item > .popover {
    background-color: #36AC60;
	margin-left: 18px !important;
}

.sidenav-item > .popover > .popover-arrow {
	display: none;
}

//For Job Creation Popup
.mat-dialog-container {
    overflow-x: hidden !important;
}