<div class="position-relative" style="height: 54px">
    <div class="progress-bg"></div>
    
    <div class="position-absolute d-flex justify-content-around w-100 progress-steps">
        <div *ngFor="let step of steps; index as i">
            <div class="progress-step">
                <div class="progress-indicator">
                    
                </div>
                <div class="progress-label">
                    {{step}}
                </div>
            </div>
        </div>
    </div>
</div>