.progress-bg {
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: lightgray;
}

.progress-steps {
    top: -8px;
}

.progress-step {
    top: -8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.progress-indicator {
    width: 25px;
    height: 25px;
    border: 2px solid gray;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 5px;
}